.profile{
    padding: 2rem 1REM;
    width: 100%;
    height: 100vh;
    position: relative;
}

.profile .inputs input {
    background: #FAFAFA;
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    border: none;
    margin: .5rem 0;
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
    text-align: left;
    font-style: 500;
    margin-top: 0;
}
label{
font-family: 'Poppins',sans-serif;
font-style: 500;
font-size: 13px;
line-height: 15px;
text-align: left;
height: 0;
margin-top: 1rem;
padding: 1rem 0;
}
.imgUpload{
    position: relative;
}
.imgUpload .image{
        width: 250px;
        height: 250px;
        background: #C4C4C4; 
        border-radius: 50%;
        overflow: hidden;
}
.profile button{
    padding: 0;
    background: transparent;
    position: absolute;
    bottom: 0;
    right: 0;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.profile .multiSelectContainer {
    margin: 2rem 0;
    width: 100%;
    border: none;
    background: #FAFAFA;
    box-shadow: 0px 6px 13px rgba(0, 0, 0, 0.19);

}
.profile .multiSelectContainer .searchWrapper {
    width: 100%;
    border: none;
}
.profile .multiSelectContainer input {
    font-size: 15px;
    font-family: 'Poppins',sans-serif;
    text-align: left;
    font-style: 500;
    margin: 0;
}
.profile .multiSelectContainer span{
    padding: .5rem 1rem;
    background: #D91F26;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 16px;
}
.optionListContainer{
    background: #FAFAFA;
    box-shadow: 0px 6px 53px rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}
.optionListContainer .highlightOption{
    background: #D91F26;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 18px;
    border-radius: 10px;
}
.optionListContainer .option{
    font-size: 16px;
    line-height: 18px;
    border-radius: 10px;
}
.optionListContainer .option:hover{
    background: #D91F26;
}